.avatarBox {
  display: flex;
  align-items: center;
  gap: 24px;

  padding: 20px 28px;

  background: rgba(252, 243, 243, 0.979);
  backdrop-filter: blur(10px);
  border-radius: 5px;

  box-shadow: 
    0 8px 30px rgba(0, 0, 0, 0.25);

  width: fit-content;
  margin: -100px auto 40px;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;

  border-radius: 5%;
  border: 3px solid rgba(5, 5, 5, 0.897);

  transition: transform 0.25s ease;
}

.avatar:hover {
  transform: scale(1.05);
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;

  padding: 8px;
  border-radius: 50%;
  /* border: 2px solid rgba(5, 5, 5, 0.897); */

  transition: background 0.2s ease, transform 0.15s ease;
}

.arrow img {
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

.arrow:active {
  transform: scale(0.95);
}
